*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(204,86%,23%);
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;

}
.weather-app{
    background-color: white;
    max-width:600px;
    margin:50px auto;
    padding: 30px;
    border-radius: 15px;

}
.search-form{
    display: flex;
    align-items: center;
}
input[type="text"]{
    flex: 1;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 15px;
    font-size: 1rem;
}
.search-btn{
    background-color: #3498db;
    border:1px solid rgb(109, 176, 231);
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    color:white;
    margin-left:5px;
    transition:background-color 0.3s ease-out;
}
.search-btn :hover{
    background-color: #2980b9;
}
.city-date-section{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}
.city-date-section .city{
    font-size: 2rem;
    font-weight: 400px;

    
}
.city-date-section .date{
    background-color: #3498db;
    border-radius: 15px;
    padding: 5px;
}
.temperature{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.temperature .temp{
    font-size: 9rem;

}
.temperature .description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.temperature .description i{
    font-size: 2rem;
    font-weight: 200px;
}
.description span{
    font-size:1.5rem;
    font-weight: 500;
}
 .additional-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
 }
.wind-info, .humidity, .visibilty-info{
    background-color: #ecf0f1;
    width:150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



}
.additional-info .material-icons{
    font-size: 2rem;
    opacity: 0.8;
}
.wind-info div, .humidity div ,.visibilty-info div{
    text-align: center;

}

    
    


